<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/assets/css/commons.css' />
  <title>БОЛЬНИЦА СВЯТОГО ВЛАДИМИРА</title>
</head>

<body>
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="header__contacts">
          <div class="header__contacts-item">
            <img src="/assets/images/marker.png" alt="Показать на карте" class="header__contacts-icon">
            <address class="header__contacts-text">107014 город Москва, ул., Рубцовско – Дворцовая, дом 1/3</address>
          </div>
          <div class="header__contacts-item">
            <img src="/assets/images/phone.png" alt="Звоните" class="header__contacts-icon" />
            <span class="header__contacts-text">+7 499 268 22 31</span>
          </div>
          <div class="header__contacts-item">
            <img src="/assets/images/mail.png" alt="Пишите" class="header__contacts-icon" />
            <a class="header__contacts-text" href="mailto:dgkbsv@zdrav.mos.ru">dgkbsv@zdrav.mos.ru</a>
          </div>
        </div>
        <div class="header__socials">
          <a href="#" class="header__socials-item">
            <img src="/assets/images/vk-header.png" alt="Мы Вконтакте" class="header__social-image" />
          </a>
          <a href="#" class="header__socials-item">
            <img src="/assets/images/facebook-header.png" alt="Мы в Facebook" class="header__social-image" />
          </a>
          <a href="#" class="header__socials-item">
            <img src="/assets/images/twitter-header.png" alt="Мы в Twitter" class="header__social-image" />
          </a>
          <a href="#" class="header__socials-item">
            <img src="/assets/images/ok-header.png" alt="Мы в Одноклассниках" class="header__social-image" />
          </a>

        </div>
        <div class="header__buttons">
          <a href="#" class="header-button header-button_search">
            <img src="/assets/images/search.png" alt="Поиск по сайту" class="header-button__icon" />
          </a>
          <a href="#" class="header-button header-button_glasses">
            <img src="/assets/images/glasses.png" alt="Версия для слабовидящих" class="header-button__icon" />
          </a>
          <a href="#" class="header-button header-button_language">Ru</a>
        </div>
      </div>
    </div>
    <div class="header__medium">
      <div class="container">
        <div class="logo">
          <img src="/assets/images/logo-dgkb.png" alt="Детская городская клиническая больница Святого Владимира" class="logo__image"
          />
        </div>
        <nav class="main-menu">
          <a href="#" class="main-menu__item">О больнице</a>
          <a href="#" class="main-menu__item">Детское отделение</a>
          <a href="#" class="main-menu__item">Услуги</a>
        </nav>
        <div class="header__login-block">
          <a href="#" class="login-button">
            <img src="/assets/images/login.png" alt="Вход в личный кабинет" class="login-button__icon" />
            <span class="login-button__text">Вход</span>
          </a>
        </div>

        <div class="header-phone">
          <img src="/assets/images/24-hours-red.png" alt="Работаем круглосуточно" class="header-phone__image" />
          <div class="header-phone__content">
            <div class="header-phone__phone">
              <img src="/assets/images/phone-blue.png" alt="Звоните" class="header-phone__icon" />
              <span class="header-phone__number">+7 499 268 22 31</span>
            </div>
            <a href="#" class="back-call-button">Заказать обратный звонок</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="top-block">
      <div class="container">
        <span class="top-block_small-header">Государственное бюджетное
          <br/>учреждение здравоохранения Москвы</span>
        <h1 class="main-title main-title_white">Детская городская
          <br/>клиническая больница
          <br/>Святого Владимира</h1>
        <div class="order-form">
          <h3 class="order-form__title">Запишитесь на прием к специалисту, сэкономьте время</h3>
          <div class="order-form__input-group">
            <input type="text" class="order-form__input" />
            <input type="text" class="order-form__input" />
            <input type="text" class="order-form__input" />
          </div>
          <button type="submit" class="order-form__submit">Записаться на приём</button>
          <p class="order-form__legal-text">Нажимая кнопку «Записаться на приём», Вы Соглашаетесь на обработку персональных данных</p>
        </div>

        <nav class="home-menu">

          <a href="#" class="home-menu__item home-menu-item home-menu-item_bg_cyan">
            <img src="/assets/images/our-spec.png" alt="Наши специалисты" class="home-menu-item__image" />
            <span class="home-menu-item__title">Наши специалисты</span>
          </a>

          <a href="#" class="home-menu__item home-menu-item home-menu-item_bg_blue">
            <img src="/assets/images/stacionar.png" alt="Загородный стационар" class="home-menu-item__image" />
            <span class="home-menu-item__title">Загородный стационар</span>
          </a>

          <a href="#" class="home-menu__item home-menu-item home-menu-item_bg_purple">
            <img src="/assets/images/stomatolog.png" alt="Детская стоматология" class="home-menu-item__image" />
            <span class="home-menu-item__title">Детская стоматология</span>
          </a>

          <a href="#" class="home-menu__item home-menu-item home-menu-item_bg_pink">
            <img src="/assets/images/info-for-muther.png" alt="Информация для родителей" class="home-menu-item__image" />
            <span class="home-menu-item__title">Информация для родителей</span>
          </a>

          <a href="#" class="home-menu__item home-menu-item home-menu-item_bg_gray">
            <img src="/assets/images/consulting-center.png" alt="Консультативный центр" class="home-menu-item__image" />
            <span class="home-menu-item__title">Консультативный центр</span>
          </a>
        </nav>
      </div>
    </div>

    <section class="consultants">
      <div class="container">
        <div class="consultants__content">
          <h2 class="consultants__title">Cегодня консультацию ведут:</h2>
          <p class="consultants__description">Вы можете обратиться к любому специалисту за консультацией. Это абсолютно бесплатно. Наслаждайтесь!</p>
          <form action="#" class="consultants__form consultants-form">
            <p class="consultants-form__small-text">Вы можете записаться на приём к любому из докторов, либо ознакомиться с их расписанием.</p>
            <p class="consultants-form__small-text consultants-form__small-text_mb_30">Оставьте e-mail, чтобы было легче узнавать о наших новостях</p>
            <input type="email" class="consultants-form__input" placeholder="Ваш email" />
            <button type="submit" class="consultants-form__submit">
              <img src="/assets/images/consultants-form-submit.png" alt="Подписаться на новости" class="consultants-form__submit-image"
              />
            </button>
          </form>
        </div>
        <div class="consultants__list">

          <div class="consultant">
            <img src="/assets/images/medic.jpg" alt="Главный врач Петряйкина Елена Ефимовна" class="consultant__photo">
            <div class="consultant__content">
              <h3 class="consultant__title">
                <span class="consultant__surname">Петряйкина</span>
                <span class="consultant__name">Елена Ефимовна</span>
              </h3>
              <span class="consultant__position">Главный врач</span>
              <div class="consultant__footer">
                <a href="#" class="consultant-footer-item">
                  <img src="/assets/images/comment.png" alt="Начать беседу" class="consultant-footer-item__icon" />
                  <span class="consultant-footer-item__text consultant-footer-item__text_bold">Начать беседу</span>
                </a>
                <a href="#" class="consultant-footer-item">
                  <span class="consultant-footer-item__text">Узнать больше</span>
                  <img src="/assets/images/more.png" alt="Узнать больше" class="consultant-footer-item__icon" />
                </a>
              </div>
            </div>
            <span class="consultant__status consultant__status_online">
              <span class="consultant__status-text">Сейчас онлайн</span>
              <img src="/assets/images/status.png" alt="Онлайн" class="consultant__status-icon" .>
            </span>
          </div>

          <div class="consultant">
            <img src="/assets/images/medic.jpg" alt="Главный врач Петряйкина Елена Ефимовна" class="consultant__photo">
            <div class="consultant__content">
              <h3 class="consultant__title">
                <span class="consultant__surname">Петряйкина</span>
                <span class="consultant__name">Елена Ефимовна</span>
              </h3>
              <span class="consultant__position">Главный врач</span>
              <div class="consultant__footer">
                <a href="#" class="consultant-footer-item">
                  <img src="/assets/images/comment.png" alt="Начать беседу" class="consultant-footer-item__icon" />
                  <span class="consultant-footer-item__text consultant-footer-item__text_bold">Начать беседу</span>
                </a>
                <a href="#" class="consultant-footer-item">
                  <span class="consultant-footer-item__text">Узнать больше</span>
                  <img src="/assets/images/more.png" alt="Узнать больше" class="consultant-footer-item__icon" />
                </a>
              </div>
            </div>
            <span class="consultant__status consultant__status_online">
              <span class="consultant__status-text">Сейчас онлайн</span>
              <img src="/assets/images/status.png" alt="Онлайн" class="consultant__status-icon" .>
            </span>
          </div>

          <div class="consultant">
            <img src="/assets/images/medic.jpg" alt="Главный врач Петряйкина Елена Ефимовна" class="consultant__photo">
            <div class="consultant__content">
              <h3 class="consultant__title">
                <span class="consultant__surname">Петряйкина</span>
                <span class="consultant__name">Елена Ефимовна</span>
              </h3>
              <span class="consultant__position">Главный врач</span>
              <div class="consultant__footer">
                <a href="#" class="consultant-footer-item">
                  <img src="/assets/images/comment.png" alt="Начать беседу" class="consultant-footer-item__icon" />
                  <span class="consultant-footer-item__text consultant-footer-item__text_bold">Начать беседу</span>
                </a>
                <a href="#" class="consultant-footer-item">
                  <span class="consultant-footer-item__text">Узнать больше</span>
                  <img src="/assets/images/more.png" alt="Узнать больше" class="consultant-footer-item__icon" />
                </a>
              </div>
            </div>
            <span class="consultant__status consultant__status_online">
              <span class="consultant__status-text">Сейчас онлайн</span>
              <img src="/assets/images/status.png" alt="Онлайн" class="consultant__status-icon" .>
            </span>
          </div>
          <div class="consultant">
            <img src="/assets/images/medic.jpg" alt="Главный врач Петряйкина Елена Ефимовна" class="consultant__photo">
            <div class="consultant__content">
              <h3 class="consultant__title">
                <span class="consultant__surname">Петряйкина</span>
                <span class="consultant__name">Елена Ефимовна</span>
              </h3>
              <span class="consultant__position">Главный врач</span>
              <div class="consultant__footer">
                <a href="#" class="consultant-footer-item">
                  <img src="/assets/images/comment.png" alt="Начать беседу" class="consultant-footer-item__icon" />
                  <span class="consultant-footer-item__text consultant-footer-item__text_bold">Начать беседу</span>
                </a>
                <a href="#" class="consultant-footer-item">
                  <span class="consultant-footer-item__text">Узнать больше</span>
                  <img src="/assets/images/more.png" alt="Узнать больше" class="consultant-footer-item__icon" />
                </a>
              </div>
            </div>
            <span class="consultant__status consultant__status_online">
              <span class="consultant__status-text">Сейчас онлайн</span>
              <img src="/assets/images/status.png" alt="Онлайн" class="consultant__status-icon" .>
            </span>
          </div>
          <div class="consultant">
            <img src="/assets/images/medic.jpg" alt="Главный врач Петряйкина Елена Ефимовна" class="consultant__photo">
            <div class="consultant__content">
              <h3 class="consultant__title">
                <span class="consultant__surname">Петряйкина</span>
                <span class="consultant__name">Елена Ефимовна</span>
              </h3>
              <span class="consultant__position">Главный врач</span>
              <div class="consultant__footer">
                <a href="#" class="consultant-footer-item">
                  <img src="/assets/images/comment.png" alt="Начать беседу" class="consultant-footer-item__icon" />
                  <span class="consultant-footer-item__text consultant-footer-item__text_bold">Начать беседу</span>
                </a>
                <a href="#" class="consultant-footer-item">
                  <span class="consultant-footer-item__text">Узнать больше</span>
                  <img src="/assets/images/more.png" alt="Узнать больше" class="consultant-footer-item__icon" />
                </a>
              </div>
            </div>
            <span class="consultant__status consultant__status_online">
              <span class="consultant__status-text">Сейчас онлайн</span>
              <img src="/assets/images/status.png" alt="Онлайн" class="consultant__status-icon" .>
            </span>
          </div>
        </div>
      </div>

    </section>

    <div class="advantages-list">
      <div class="container">
        <div class="advantage-item">
          <h3 class="advantage-item__title">Уникальный в России комплекс урология-нефрология-диализ</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>

        <div class="advantage-item">
          <h3 class="advantage-item__title">Звездный состав персонала, которому позавидует любая клиника</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>

        <div class="advantage-item">
          <h3 class="advantage-item__title">Восстановление ребенка происходит на свежем воздухе за городом</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>

        <div class="advantage-item">
          <h3 class="advantage-item__title">Старейшая в Москве педиатрия</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>

        <div class="advantage-item">
          <h3 class="advantage-item__title">Уникальная сосудистая хирургия</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>

        <div class="advantage-item">
          <h3 class="advantage-item__title">Первая в Европе хирургия новорождённых</h3>
          <a href="#" class="advantage-item__more">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="advantage-item__more-icon" />
          </a>
          <div class="advantage-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>
          </div>
        </div>
      </div>

    </div>

    <section class="call-to-action">
      <div class="container">
        <h2 class="call-to-action__title">Экономьте время на формальностях</h2>
        <p class="call-to-action__text">Запишитесь на прием к специалисту, используя эту форму:</p>
        <form action="#" class="call-to-action__form call-to-action-form">
          <div class="call-to-action-form__input-group">
            <input type="text" class="call-to-action-form__input" />
            <input type="text" class="call-to-action-form__input" />
            <input type="text" class="call-to-action-form__input" />
          </div>
          <p class="call-to-action-form__text">Нажимая кнопку «Записаться на прием», Вы Соглашаетесь на обработку персональных данных</p>
          <button type="submit" class="call-to-action-form__submit">Записаться на прием</button>
        </form>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <h2 class="news__title">Новости больницы</h2>

        <div class="news__main-item main-news-item">
          <div class="main-news-item__image" style="background-image: url('/assets/images/main-news-item.jpg')"></div>
          <a href="#" class="main-news-item__more-link">
            <img src="/assets/images/more-post.png" alt="Подробнее" class="main-news-item__more-icon">
          </a>
          <span class="main-news-item__date">12 марта 2018</span>
          <h3 class="main-news-item__title">У больницы появился новый корпус</h3>
          <div class="main-news-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam consequat</p>
          </div>
        </div>


        <div class="news__list">
          <div class="news-item">
            <div class="news-item__image" style="background-image: url('/assets/images/news-item.jpg')"></div>
            <a href="#" class="news-item__more-link">
              <img src="/assets/images/more-post.png" alt="Подробнее" class="news-item__more-icon">
            </a>
            <span class="news-item__date">12 марта 2018</span>
            <h3 class="news-item__title">У больницы появился новый корпус</h3>
            <div class="news-item__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam consequat</p>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item__image" style="background-image: url('/assets/images/news-item.jpg')"></div>
            <a href="#" class="news-item__more-link">
              <img src="/assets/images/more-post.png" alt="Подробнее" class="news-item__more-icon">
            </a>
            <span class="news-item__date">12 марта 2018</span>
            <h3 class="news-item__title">У больницы появился новый корпус</h3>
            <div class="news-item__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam consequat</p>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item__image" style="background-image: url('/assets/images/news-item.jpg')"></div>
            <a href="#" class="news-item__more-link">
              <img src="/assets/images/more-post.png" alt="Подробнее" class="news-item__more-icon">
            </a>
            <span class="news-item__date">12 марта 2018</span>
            <h3 class="news-item__title">У больницы появился новый корпус</h3>
            <div class="news-item__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam consequat</p>
            </div>
          </div>
          <div class="news-item">
            <div class="news-item__image" style="background-image: url('/assets/images/news-item.jpg')"></div>
            <a href="#" class="news-item__more-link">
              <img src="/assets/images/more-post.png" alt="Подробнее" class="news-item__more-icon">
            </a>
            <span class="news-item__date">12 марта 2018</span>
            <h3 class="news-item__title">У больницы появился новый корпус</h3>
            <div class="news-item__description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam consequat</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="reviews">
      <div class="container">

        <div class="reviews__content">
          <h2 class="reviews__title">Отзывы клиентов</h2>
          <p class="reviews__description">Мы просим клиентов оставить отзыв о нашей клинике, используя свой аккаунт в социальных сетях:</p>
          <div class="reviews__socials-list">
            <a href="#" class="reviews__social">
              <img src="/assets/images/vk.png" alt="Мы Вконтакте" class="reviews__social-image" />
            </a>
            <a href="#" class="reviews__social">
              <img src="/assets/images/facebook.png" alt="Мы в Facebook" class="reviews__social-image" />
            </a>
            <a href="#" class="reviews__social">
              <img src="/assets/images/twitter.png" alt="Мы в Twitter" class="reviews__social-image" />
            </a>
            <a href="#" class="reviews__social">
              <img src="/assets/images/ok.png" alt="Мы в Одноклассниках" class="reviews__social-image" />
            </a>
          </div>
          <form action="#" class="reviews__form reviews-form">
            <input type="email" class="reviews-form__input" placeholder="Оставьте Ваш комментарий" />
            <button type="submit" class="reviews-form__submit">
              <img src="/assets/images/consultants-form-submit.png" alt="Оставить отзыв" class="reviews-form__submit-image" />
            </button>
          </form>
          <p class="reviews__all">
            или
            <a href="#" class="reviews__all-link">посмотрите все отзывы о клинике</a>
          </p>
        </div>
        <div class="reviews__list">
          <div class="review">
            <img src="/assets/images/medic.jpg" alt="Петряйкина Елена" class="review__photo" />
            <div class="review__content">
              <div class="review__header">
                <h3 class="review__title">Петряйкина Елена</h3>
                <a href="#" class="review-header-item">
                  <span class="review-header-item__text">Просмотреть профиль</span>
                  <img src="/assets/images/more.png" alt="Просмотреть профиль" class="review-header-item__icon" />
                </a>
              </div>
              <div class="review__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam consequat.</p>
              </div>
            </div>
          </div>
          <div class="review">
            <img src="/assets/images/medic.jpg" alt="Петряйкина Елена" class="review__photo" />
            <div class="review__content">
              <div class="review__header">
                <h3 class="review__title">Петряйкина Елена</h3>
                <a href="#" class="review-header-item">
                  <span class="review-header-item__text">Просмотреть профиль</span>
                  <img src="/assets/images/more.png" alt="Просмотреть профиль" class="review-header-item__icon" />
                </a>
              </div>
              <div class="review__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam consequat.</p>
              </div>
            </div>
          </div>
          <div class="review">
            <img src="/assets/images/medic.jpg" alt="Петряйкина Елена" class="review__photo" />
            <div class="review__content">
              <div class="review__header">
                <h3 class="review__title">Петряйкина Елена</h3>
                <a href="#" class="review-header-item">
                  <span class="review-header-item__text">Просмотреть профиль</span>
                  <img src="/assets/images/more.png" alt="Просмотреть профиль" class="review-header-item__icon" />
                </a>
              </div>
              <div class="review__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam consequat.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="contacts">
      <div class="container">
        <div class="contacts__content">
          <h2 class="contacts__title">Наш адрес</h2>
          <address class="contacts__address">
            Рубцовско-Дворцовая ул., 1/3,
            <br/>Москва, 107014
          </address>
          <ul class="contacts__phones-list">
            <li class="phones-list-item">
              <h5 class="phones-list-item__title">Приёмное отделение хирургии</h4>
                <span class="phones-list-item__number">+7 (499) 268 83 86</span>
            </li>
            <li class="phones-list-item">
              <h5 class="phones-list-item__title">Приёмное отделение педиатрии:</h4>
                <span class="phones-list-item__number">+7 (499) 268 22 30 </span>
            </li>
            <li class="phones-list-item">
              <h5 class="phones-list-item__title">Отделение плановой госпитализации:</h4>
                <span class="phones-list-item__number">+7 (499) 268 84 62</span>
            </li>
          </ul>
        </div>
        <div class="contacts__map">
        </div>
      </div>

    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">
        <img src="/assets/images/footer-logo.png" alt="Детская городская клиническая больница имени Святого Владимира" class="footer__logo-image"
        />
      </div>
      <div class="footer__content">
        <div class="footer-block">
          <h3 class="footer-block__title">О клинике</h3>
          <nav class="footer-block__list">
            <a href="#" class="footer-block__list-item">История</a>
            <a href="#" class="footer-block__list-item">Направления</a>
            <a href="#" class="footer-block__list-item">Администрация</a>
            <a href="#" class="footer-block__list-item">Загородный филиал</a>
            <a href="#" class="footer-block__list-item">Донорство</a>
            <a href="#" class="footer-block__list-item">Вакансии</a>
            <a href="#" class="footer-block__list-item">Сведения о вышестоящих организациях</a>
            <a href="#" class="footer-block__list-item">Страховые компании</a>
            <a href="#" class="footer-block__list-item">Клинические случаи</a>
          </nav>
        </div>

        <div class="footer-block">
          <h3 class="footer-block__title">Услуги</h3>
          <nav class="footer-block__list">
            <a href="#" class="footer-block__list-item">Консультация специалистов</a>
            <a href="#" class="footer-block__list-item">Функциональная диагностика</a>
            <a href="#" class="footer-block__list-item">Лечебная диагностика, КТ и МРТ</a>
            <a href="#" class="footer-block__list-item">Эндоскопические и дополнительные методы исследований</a>
            <a href="#" class="footer-block__list-item">Манипуляции</a>
            <a href="#" class="footer-block__list-item">Физиотерапия</a>
            <a href="#" class="footer-block__list-item">Массаж и лечебная физкультура</a>
            <a href="#" class="footer-block__list-item">Оперативное лечение</a>
            <a href="#" class="footer-block__list-item">Офтальмология</a>
          </nav>
        </div>

        <div class="footer-block">
          <h3 class="footer-block__title">Родителям</h3>
          <nav class="footer-block__list">
            <a href="#" class="footer-block__list-item">Условия оказания медицинской помощи</a>
            <a href="#" class="footer-block__list-item">Правила госпитализации в загородный филиал</a>
            <a href="#" class="footer-block__list-item">Иногородним пациентам</a>
            <a href="#" class="footer-block__list-item">Платные услуги</a>
            <a href="#" class="footer-block__list-item">Отзывы пациентов</a>
          </nav>
        </div>

        <div class="footer-block">
          <h3 class="footer-block__title">Контакты</h3>
          <address class="footer-block__address">
            107014, Москва
            <br/> Рубцовско-Дворцовая улица, дом 1/3
          </address>
          <ul class="footer-block__phones-list">
            <li class="footer-phone">
              <h5 class="footer-phone__title">Приёмное отделение хирургии:</h5>
              <span class="footer-phone__number">+7 (499) 268 83 86</span>
            </li>
            <li class="footer-phone">
              <h5 class="footer-phone__title">Приёмное отделение педиатрии:</h5>
              <span class="footer-phone__number">+7 (499) 268 22 30</span>
            </li>
            <li class="footer-phone">
              <h5 class="footer-phone__title">Отделение плановой госпитализации:</h5>
              <span class="footer-phone__number">+7 (499) 268 84 62</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__bottom-block">
          <div class="copyright">© 2018 Детская Городская клиническая больница имени Св. Владимира</div>
          <nav class="legal-menu">
            <a href="#" class="legal-menu__item">Условия использования материалов</a>
            <a href="#" class="legal-menu__item">Политики конфиденциальности и обработки персональных данных</a>
          </nav>
        </div>
        <div class="footer__bottom-block">

        </div>
      </div>
    </div>
  </footer>

  <script src="/assets/js/commons.js"></script>
</body>

</html>